<div class="min-h-screen min-w-screen p-4">
  <div class="flex w-full justify-between items-center">
    <button
      class="bg-yellow-600 text-white px-6 text-lg font-semibold py-2 rounded-md w-48"
      (click)="newTask = true"
    >
      Nueva Tarea
    </button>
    <a href="#" class="text-orange-300 hover:underline" (click)="logout()">
      Cerrar sesión
    </a>
  </div>
  <p class="mt-12 mb-2 text-2xl font-bold">Tareas:</p>
  <p *ngIf="tasks.length === 0" class="">
    No tienes tareas. Agrega una en el botón Nueva Tarea.
  </p>
  <div class="grid sm:grid-cols-2 gap-4">
    <app-task
      *ngFor="let task of tasks"
      [id]="task.id"
      [nombre]="task.name"
      [completed]="task.completed"
      (onDelete)="deleteTask($event)"
      (onChange)="changeStatus($event)"
    ></app-task>
  </div>
</div>
<app-new-task *ngIf="newTask" (onClose)="createNewTask($event)"></app-new-task>
<app-alert
  *ngIf="showAlert"
  [text]="alertText"
  [isDanger]="isDanger"
  (onClose)="showAlert = false"
></app-alert>
